.blob-1,
.blob-2,
.blob-3,
.blob-4 {
  z-index: -999;
  overflow: hidden;
  max-width: 40vw;
}

.blob-1 {
  position: absolute;
  left: 40px;
  top: 20px;
  transform: rotate(80deg);
}

.blob-2 {
  position: absolute;
  right: 70px;
  top: 70px;
  transform: rotate(-30deg);
}

.blob-3 {
  position: absolute;
  left: 320px;
  bottom: 10px;
  transform: rotate(-30deg);
}

.blob-4 {
  position: absolute;
  right: 70px;
  bottom: 25px;
  transform: rotate(-30deg);
}
