@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");

:root {
  --main-color: #caf0f8;
  --highlight-color: #03045e;

  /* form color */
  --base-color: #03045e;
  --secondary-color: #caf0f8;

  --font-family: "Kanit", sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-color);
}

/* Sidebar Styles */

.sidebar {
  /* static position */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;

  color: var(--main-color);
  background-color: var(--highlight-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em;
  margin-right: 1em;
  font-weight: 400;
  height: 100vh;
  text-transform: uppercase;
}

.main-content {
  margin-left: 12em;
  flex: 1;
  padding: 1em;
}

.logo {
  width: 80%;
}

.user_info,
.user_info a {
  font-size: 0.9em;
  font-weight: 500;
  color: #a9ceff;
  text-transform: none;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 2em;
}

.nav-link {
  padding-bottom: 0.5em;
}

.nav-link:hover {
  font-size: 1.1em;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

/* grid layout */
.grid {
  display: flex; /* Use a flex container to create the grid */
  flex-wrap: wrap; /* Wrap the items onto multiple rows if necessary */
}

.grid-item {
  width: 33.33%; /* Set the width of each item to be a third of the grid */
  padding: 10px; /* Add some padding for the content */
}

/* Form Styles */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: var(--font-family);
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: var(--font-family);
  text-transform: uppercase;
  outline: 0;
  background: var(--base-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #0077b6;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: var(--base-color);
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* mddia queries for main layout */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    flex: 1;
    position: relative;
    width: 100%;
  }

  .main-content {
    margin: 0;
    padding: 1em;
  }

  .grid-item {
    width: 50%; /* Change the width to half the screen on smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-item {
    width: 100%; /* Change the width to full screen on very small screens */
  }
}
