@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --main-color: #caf0f8;
  --highlight-color: #03045e;
  --white: rgb(252, 252, 252);
  --black: rgb(12, 12, 12);

  /* form color */
  --base-color: #03045e;
  --secondary-color: #caf0f8;

  --box-shadow-block: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);

  --font-family: "Kanit", sans-serif;
  --font-family-text: "Lato", sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-color);
}

/* Basic Styles & Utility Classes*/

img {
  max-width: 100%;
}

.secondary_heading {
  margin-top: 1rem;
}

p {
  line-height: 105%;
  max-width: 95ch;
  padding: 0.5em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--highlight-color);
  padding-left: 1rem;
}

h2 {
  font-size: 1.6em;
}

/* Sidebar Styles */

.sidebar {
  /* static position */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;

  color: var(--main-color);
  background-color: var(--highlight-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em;
  margin-right: 1em;
  font-weight: 400;
  height: 100vh;
  text-transform: uppercase;
}

.main-content {
  margin-left: 12em;
  flex: 1;
  padding: 1em;
}

.logo {
  width: 80%;
}

.user_info,
.user_info a {
  font-size: 0.9em;
  font-weight: 500;
  color: #a9ceff;
  text-transform: none;
}

.user_info > div {
  display: flex;
  gap: 0.1em;
  flex-flow: row wrap;
}

#menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: url(menu-icon.png) center no-repeat;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 2em;
}

.nav-link {
  padding-bottom: 0.5em;
}

.nav-link:hover {
  font-size: 1.1em;
  font-weight: 500;
}

li a,
.sidebar a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

/* Homepage Styles */
.hero {
  margin-top: 2em;
}

.hero > div {
  max-width: 900px;
  display: flex;
  align-items: center;
}

.hero > div > div {
  width: 50%;
}

.hero > div > img {
  width: 50%;
  max-width: 300px;
}

.branding {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 3em;
  line-height: 84%;
  letter-spacing: -0.04em;
  color: var(--highlight-color);
  max-width: 20ch;
  padding: 0;
}

.bio {
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 84%;
  max-width: 50ch;
}

.button-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1em;
}

.hero-button {
  padding: 0.5em 1em;
  background: var(--base-color);
  border-radius: 10px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.3em;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  padding: 0.5em 1em;
  background: var(--base-color);
  border-radius: 10px;
  color: var(--main-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.button a {
  color: var(--main-color);
  text-decoration: none;
}

.plain-button {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 36px;
  text-decoration: none;
}

.plain-button a {
  text-decoration: none;
}

/* grid layout */
.grid {
  display: flex; /* Use a flex container to create the grid */
  flex-wrap: wrap; /* Wrap the items onto multiple rows if necessary */
  max-width: 1100px;
}

.grid-item {
  width: 33.33%; /* Set the width of each item to be a third of the grid */
  padding: 5px; /* Add some padding for the content */
}

/* Form Styles */

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 40%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: var(--box-shadow-block);
}

.form input {
  font-family: var(--font-family);
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: var(--font-family);
  text-transform: uppercase;
  outline: 0;
  background: var(--base-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #0077b6;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: var(--base-color);
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* Contact Form */
/* form-body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: red;
  background: #caf0f8;
} */

.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: var(--box-shadow-block);
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 50px 0;
  box-shadow: var(--box-shadow-block);
}

#contact h3 {
  color: var(--base-color);
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 500;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 1em;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--base-color);
  color: var(--white);
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/* Blog Styles */
.blog-condensed-view {
  font-family: var(--font-family-text);
  max-width: 80ch;
  padding: 1em;
}

.search {
  max-width: 60ch;
}

.search input {
  height: 100%;
  width: 50%;
  background: var(--white);
  display: inline;
  outline: none;
  border: none;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0.4em 0.4em;
  color: var(--black);
  font-size: 1em;
  border-radius: 100px;
}

.search input[type="text"]::placeholder {
  color: var(--base-color);
  font-size: 0.8em;
}

.search button {
  background: var(--base-color);
  border-radius: 100px;
  font-size: 0.8em;
  padding: 0.4em 0.4em;
  border-radius: 100;
  cursor: pointer;
  color: var(--secondary-color);
}

.blog-extended-view {
  max-width: 90ch;
}

.blog-extended-view h2 {
  color: var(--base-color);
  margin-bottom: 0.8em;
}

.blogs .title {
  text-decoration: none;
  color: var(--black);
  display: block;
  font-size: 1.4em;
  line-height: 90%;
  font-weight: 700;
}

.blogs .title:hover {
  color: var(--base-color);
}

.blogs .author {
  color: var(--base-color);
  margin: 0.3em 0 0.6em 0;
  text-decoration: none;
}

.blogs .date {
  display: inline-block;
  color: rgb(22, 26, 48);
  font-size: 0.9em;
  margin: 0.3em 0 0.6em 0.8em;
  font-weight: 300;
  padding: 0.2em 0.4em;
  background-color: #98d0ee;
  border-radius: 100px;
}

/* mddia queries for main layout */
@media (max-width: 768px) {
  .hero {
    margin-top: 0.2em;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    flex: 1;
    position: relative;
    width: 100%;
  }

  .main-content {
    margin: 0;
    padding: 1em;
  }

  .grid-item {
    width: 50%; /* Change the width to half the screen on smaller screens */
  }
}

/* Responsive Nav styles */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    display: none;
  }
  nav li {
    display: block;
    text-align: center;
  }
  #menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .form {
    width: auto;
    min-width: 90%;
    margin: 0 auto;
    padding: 22px;
    text-align: center;
    box-shadow: var(--box-shadow-block);
  }
}

@media (max-width: 480px) {
  .hero > div {
    display: flex;
    flex-direction: column;
  }

  .hero > div > div {
    width: 100%;
  }

  .hero > div > img {
    width: 100%;
  }

  .grid-item {
    width: 100%; /* Change the width to full screen on very small screens */
  }
}
