{% extends 'base/base_template.html' %} {% block title %} About | Tushar Gaurav
{% endblock %} {% block content %} About Me!
<p>
  Hi there! I'm a software developer and graphic designer with a knack for
  creating visually stunning and intuitive designs. I take pride in my ability
  to bring ideas to life and love nothing more than helping my clients achieve
  their goals. Take a look at my portfolio to see some of my past projects, and
  don't hesitate to get in touch if you have a project in mind – I'm always up
  for a new challenge!
</p>
{% endblock %}
