{% extends 'base/base_template.html' %} 

{% load static %}

{% block title %} About | Tushar Gaurav {% endblock %} 

{% block content %}


<h1 class="main_heading">About Me</h1>

<canvas id="canvas3d"></canvas>

<p>
  Hi there! My name is Tushar Gaurav and I'm a Software Developer 
  and Graphic Designer based in Noida.
</p>

<p>
  I have a passion for creating beautiful and intuitive digital
  experiences that help businesses and organizations connect with
  their audience and achieve their goals. With a background in 
  Graphic Design, I have the skills and expertise to bring your ideas
  to life and deliver top-quality results.
</p>

<p>
  When I'm not working on web design and development projects, you 
  can find me tinkering with my computer and reading books. I'm always
   looking for new and interesting ways to challenge myself and improve
  my skills, and I'm always open to new opportunities and collaborations.
</p>

<p>
  I am also a "tinkerer" by nature and enjoy experimenting with new 
  technologies and techniques to find innovative solutions to problems. 
  I am always looking for new challenges and opportunities to learn and 
  grow as a developer and designer.
</p>

<p>
  Thank you for stopping by my website. I hope you enjoy exploring my 
  portfolio and learning more about what I do. Feel free to reach out 
  if you have any questions or if you'd like to discuss a potential 
  project.
</p>

<div class="button-container">
  <div class="button">
    <a href="https://mega.nz/file/FB9HBb6K#4eDebI6FSK2aPJmnTS0na2_zO6cZg_2_wRARUzea7yU">
      Download Resume
    </a>
  </div>


  <!-- <div class="plain-button">
    <a href="">
      
    </a>
  </div> -->
  
</div>

<script async="" src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
<script type="importmap">
      {
        "imports": {
          "@splinetool/runtime": "https://unpkg.com/@splinetool/runtime@0.9.202/build/runtime.js"
        }
      }
    </script>

<script type="module" src="{% static 'scripts/about.js' %}"></script>

<script>
  let page = "about";
</script>

{% endblock %}
