{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">  

    <!-- head block to add custom css -->
    {% block head %}
    {% endblock %}
    
    <script src="{% static 'scripts/rock_paper.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <!-- sidebar which remains stationary class=sidebar -->
      {% include 'base/sidebar.html' %}

      <!-- main content goes inside this div -->
      <div class="main-content">{% block content %} {% endblock %}</div>
    </div>
    {% include 'base/mobile_footer.html' %}
    <script src="{% static 'scripts/responsive_nav.js' %}"></script>
  </body>
</html>
