{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      {% include 'base/sidebar.html' %}
      <div class="main-content">
        {% block content %} Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Non porro dolores, fuga labore, sapiente minima odio quod velit
        beatae sint voluptatem. Officia perspiciatis accusamus eaque iusto
        suscipit consequuntur exercitationem porro nesciunt quasi! Neque nostrum
        consequuntur illum placeat deserunt deleniti, vero ratione saepe, eos
        itaque ullam dolorem nam facilis sapiente dignissimos ipsum explicabo!
        Porro quos maxime iusto odio dicta soluta consequatur saepe blanditiis
        praesentium excepturi ut iste libero obcaecati qui non delectus
        doloribus, molestias vel culpa tempora reiciendis? Pariatur cum nisi
        voluptates deserunt temporibus eveniet reprehenderit neque dolorum
        placeat molestias recusandae veniam, corporis animi iste nihil deleniti
        praesentium! Mollitia alias laudantium qui facere, rerum soluta ducimus
        animi placeat voluptatum atque possimus dignissimos amet reiciendis ea
        suscipit, vel officiis eos sapiente assumenda modi excepturi cupiditate
        doloremque, laborum similique. Quia deleniti, hic voluptatem aut maiores
        unde, consectetur eius dignissimos ipsam officiis illo fugiat maxime
        neque vero excepturi, autem iste debitis sint tenetur reprehenderit enim
        provident magnam tempora? Vel adipisci iure eum, unde quo fugiat
        provident rem blanditiis beatae incidunt aperiam quaerat saepe et porro
        dolores alias illum nesciunt pariatur expedita. Obcaecati voluptatibus,
        laboriosam quibusdam consectetur et placeat, odio labore eos minus
        dolorem atque voluptas excepturi reprehenderit adipisci incidunt!
        Blanditiis fuga dicta reprehenderit accusamus. {% endblock %}
      </div>
    </div>
  </body>
</html>
