{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <!-- sidebar which remains stationary class=sidebar -->
      {% include 'base/sidebar.html' %}

      <!-- main content goes inside this div -->
      <div class="main-content">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
