{% extends 'base/base_template.html' %} {% block title %} Contact Me - Tushar
Gaurav {% endblock %} {% block content %}

<div class="form-container">
  <!-- MessageHandler v0.1 beta -->
  <!-- START -->

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-white rounded alert-{{ message.tags }}" {% endif %}>
      <div class="icon"><i class="fa fa-info-circle"></i></div>
      <strong>
        {% if message.tags %} {{ message.tags | capfirst }}! {% else %} Alert!
        {% endif %}
      </strong>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- END -->

  <form id="contact" action="" method="POST">
    {% csrf_token %}
    <h3>Contact Me</h3>
    <h4>Looking for a tech-savvy friend? You've come to the right place.</h4>
    <!-- <fieldset>
      <input
        placeholder="Your name"
        type="text"
        tabindex="1"
        required
        autofocus
      />
    </fieldset> -->
    <!--     <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset> -->

    
    <fieldset>
      {{ form.contact_number }}
    </fieldset>
    <fieldset>
      {{ form.content }}
      <!-- <textarea
        name="content"
        placeholder="Type your Message Here...."
        tabindex="5"
        required
      ></textarea> -->
    </fieldset
    <fieldset>{{ form.captcha }}</fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        Send Message
      </button>
    </fieldset>
  </form>
</div>

{% endblock %}
