{% extends 'base/base_template.html' %} 

{% load static %}

{% block title %} 
Tushar Gaurav | Software Developer & Graphic Designer 
{% endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/blob_position.css' %}">
<script src="https://kit.fontawesome.com/4ef8f405a5.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.17/fullpage.min.js" integrity="sha512-zAHJKGyoPf2Y20Wi4uo32sa/vSvwKfY4tYUt6gJfmkA79X0wt5ZfaxL5GqJ5cMnmvGslWi5PKTo51rHRZqYbJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %} 

<div class="section main">

        <video class="video-bg" autoplay muted loop data-keepplaying>
            <source src="{% static '/videos/hero-bg.mp4' %}" type="video/mp4">
        </video>
        
        <div tabindex="-1" class="inner-text">
            <p class="p1">WEB</p>
            <p class="p2"></p>
        </div>
        
</div>


<div class="section center">
    <section class="hero">
        <div class="hero-top">
            <div>
                <h1 class="branding">FRONT END DESIGNER, WEB DEVELOPER AND 3D ARTIST</h1>
                <div class="button-container">
                    <a href="https://www.behance.net/tushgaurav" target="_blank" class="hero-button">Designs</a>
                    <a href="https://linktr.ee/tushgaurav" target="_blank" class="plain-button">View Profiles <i class="fa-solid fa-square-up-right"></i></a>
                </div>
            </div>
            <img class="hero-image" src="{% static 'images/homepage/hero_img.png' %}" alt="">
        </div>

        <p class="bio">
            I'm a software developer and graphic designer
            with a knack for creating visually stunning 
            and intuitive designs. I take pride in my ability 
            to bring ideas to life and love nothing more than 
            helping my clients achieve their goals. Take a look
            at my portfolio to see some of my past projects, 
            and don't hesitate to get in touch if you have a
            project in mind – I'm always up for a new challenge!
        </p>

    </section>
</div>

<script>
    let page = "homepage";
</script>
{% endblock %}