{% extends 'base/base_template.html' %}

{% block title %} Login | Tushar Gaurav
{% endblock %}

{% block content %}

<!-- display messages -->
<!-- MessageHandler v0.1 beta -->
  <!-- START -->

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-white rounded alert-{{ message.tags }}" {% endif %}>
      <div class="icon"><i class="fa fa-info-circle"></i></div>
      <strong>
        {% if message.tags %} {{ message.tags | capfirst }}! {% else %} Alert!
        {% endif %}
      </strong>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- END -->


  <div class="form-container">
    <div class="form">
      <form class="login-form" method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">login</button>
        <p class="message">
          Not registered? <a href="{% url 'register' %}">Create an account</a>
        </p>
      </form>
    </div>
 
</div>

{% endblock %}
