{% extends 'base/base_template.html' %}

{% block title %}
Blogs - Tushar Gaurav
{% endblock %}

{% load markdown_extras %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/modules/blog.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
{% endblock %}

{% block content %}
<div class="blogs">

<div class="blog-extended-view">
<h2>{{ blog.title }}</h2>
<span class="back"><a href="{% url 'posts' %}">all blogs</a></span>
<span class="author"><a href="{% url 'profile' blog.author %}">{{ blog.author }}</a></span>
<span class="date">
    <span class="date-full">{{ blog.created_on.date }}</span>
    <span class="time">{{ blog.created_on.time }}</span>
</span>
<div class="content">{{ blog.content | markdown | safe }}


    <script src="https://utteranc.es/client.js"
        repo="tushgaurav/tushgaurav-comments"
        issue-term="pathname"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>

<style>
    .timeline-header em {
        display: none;
    }
</style>
</div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

<script src="{% static 'scripts/lib/remove_branding.js' %}"></script>

<script>
document.querySelectorAll('code').forEach((block) => {
    hljs.highlightBlock(block);
});
</script>
{% endblock %}