{% extends 'base/base_template.html' %}

{% block title %} Register | Tushar Gaurav 
{% endblock %} 

{% block content %}

<!-- MessageHandler v0.1 beta -->
  <!-- START -->

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-white rounded alert-{{ message.tags }}" {% endif %}>
      <div class="icon"><i class="fa fa-info-circle"></i></div>
      <strong>
        {% if message.tags %} {{ message.tags | capfirst }}! {% else %} Alert!
        {% endif %}
      </strong>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- END -->

  <div class="form-container">

    <div class="form">
      <form class="login-form" method="POST" action="">
          {% csrf_token %}
          {{ form.name }}
          {{ form.username }}
          {{ form.email }}
          {{ form.password1 }}
          {{ form.password2 }}
          {{ form.captcha }}
          <button type="submit">register</button>
          <p class="message">
            Already have a account? <a href="{% url 'register' %}">login</a>
          </p>
      </form>
    </div>
  </div>

  <!-- Old Django Default form -->
<!-- <form method="POST" action="">
  {% csrf_token %} {{ form.as_p }}

  <input type="submit" value="Register" />
</form> -->

{% endblock %}
