{% load static %}
<div class="sidebar">
  <a href="{% url 'home' %}">
    <img
      src="{% static 'images/sign_logo.png' %}"
      alt="logo image"
      class="logo"
    />
  </a>

  <a href="#" id="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </a>

  <div class="nav">
    <div class="user_info">
      {% if request.user.is_authenticated %}
      <!--  -->
      Welcome, {{ request.user.username }}!
      <!--  -->
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>
    
    <ul class="nav-list">
      <li class="nav-link"><a href="{% url 'posts' %}">blog</a></li>
      <li class="nav-link"><a href="{% url 'about' %}">about</a></li>
      <li class="nav-link"><a href="{% url 'skills' %}">skills</a></li>
      <li class="nav-link">experience</li>
      <li class="nav-link">project</li>
      <li class="nav-link"><a href="{% url 'contact' %}">contact</a></li>
    </ul>
  
  </div>
</div>
