{% extends 'base/base_template.html' %} {% load static %} {% block title %}
Skills | Tushar Gaurav {% endblock %} {% block content %}
<h1 class="main_heading">Skills</h1>

<img
  src="{% static 'images/skill_illustration.png' %}"
  alt="a computer illustration"
/>

<p>
  As a software developer and graphic designer, I possess a unique set 
  of skills that allow me to bring a creative and technical perspective
  to projects. My expertise in software development ranges from front-end
  web development to back-end programming and database management.
  I have experience in various programming languages such as JavaScript,
  Python, and C#. Additionally, my background in graphic design allows
  me to create visually appealing user interfaces and digital assets.
  I am also a "tinkerer" by nature and enjoy experimenting with new 
  technologies and techniques to find innovative solutions to problems. 
  Overall, my skills in both software development and graphic design make me 
  a valuable asset to any team.
</p>

<h3 class="secondary_heading">Development Skills</h3>
<div class="grid">
  <div class="grid-item">
    <h4>Languages</h4>
    <ul class="list">
      <li class="list_item">Python</li>
      <li class="list_item">JavaScript</li>
      <li class="list_item">HTML, CSS, XML</li>
      <li class="list_item">PHP</li>
      <li class="list_item">Java</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Frameworks</h4>
    <ul class="list">
      <li class="list_item">Django</li>
      <li class="list_item">React</li>
      <li class="list_item">Three.js</li>
      <li class="list_item">GSAP</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Tools</h4>
    <ul class="list">
      <li class="list_item">Figma</li>
      <li class="list_item">Adobe Photoshop, Illustrator</li>
      <li class="list_item">Git</li>
      <li class="list_item">VS Code</li>
    </ul>
  </div>
</div>

<h3 class="secondary_heading">Favourites</h3>

<div class="grid">
  <div class="grid-item">
    <h4>PaSS Platforms</h4>
    <ul class="list">
      <li class="list_item">Railway</li>
      <li class="list_item">PlanetScale</li>
      <li class="list_item">Netlify</li>
      <li class="list_item">Vercel</li>
      <li class="list_item">Replit</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Operating Systems</h4>
    <ul class="list">
      <li class="list_item">Manjaro</li>
      <li class="list_item">Fedora</li>
      <li class="list_item">Debian</li>
      <li class="list-item">Windows 11</li>
      <li class="list-item">Andriod 13 - PixelExpreience</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Frameworks</h4>
    <ul class="list">
      <li class="list_item">Python</li>
      <li class="list_item">JavaScript</li>
      <li class="list_item">HTML, CSS, XML</li>
      <li class="list_item">Shell Scripting</li>
      <li class="list_item">What</li>
    </ul>
  </div>
</div>

{% endblock %}
