{% extends 'base/base_template.html' %} {% load static %} {% block title %}
Skills | Tushar Gaurav {% endblock %} {% block content %}
<h1 class="main_heading">Skills</h1>
<img
  src="{% static 'images/skill_illustration.png' %}"
  alt="a computer illustration"
/>

<h3 class="secondary_heading">Development Skills</h3>
<div class="grid">
  <div class="grid-item">
    <h4>Languages</h4>
    <ul class="list">
      <li class="list_item">Python</li>
      <li class="list_item">JavaScript</li>
      <li class="list_item">HTML, CSS, XML</li>
      <li class="list_item">Shell Scripting</li>
      <li class="list_item">What</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Frameworks</h4>
    <ul class="list">
      <li class="list_item">Python</li>
      <li class="list_item">JavaScript</li>
      <li class="list_item">HTML, CSS, XML</li>
      <li class="list_item">Shell Scripting</li>
      <li class="list_item">What</li>
    </ul>
  </div>

  <div class="grid-item">
    <h4>Frameworks</h4>
    <ul class="list">
      <li class="list_item">Python</li>
      <li class="list_item">JavaScript</li>
      <li class="list_item">HTML, CSS, XML</li>
      <li class="list_item">Shell Scripting</li>
      <li class="list_item">What</li>
    </ul>
  </div>
</div>

{% endblock %}
